.search-term{ :class => ( "wildcard-term" if params[:wildcard] == "true" ) }
  = hidden_field_tag "#{@field_name}[index]", @index, :class => "index"

  = link_to_function image_tag(Icons.delete), "Search.removeTerm($(this).closest('div.search-term'))", :class => "delete-term"

  %table.form
    %tr
      %th Filters
      %td
        - { "word" => "Woord", "lemma" => "Lemma", "type" => "Type(s)", "flag" => "Flag(s)" }.each do |filter_type, label|
          %input.filter-selection{ :type => "checkbox", :value => filter_type }
          %label= label
    %tr.word-filter
      %th Woord
      %td
        = text_field_tag "#{@field_name}[word]", @search[:word], :size => 50
        = check_box_tag "#{@field_name}[word_regex]"
        Regular Expression
        (#{link_to "PostgreSQL syntax", "http://www.postgresql.org/docs/8.3/static/functions-matching.html#POSIX-SYNTAX-DETAILS", :target => "_blank"})
    %tr.lemma-filter
      %th Lemma(s)
      %td
        = text_field_tag "#{@field_name}[lemma]", @search[:lemma], :size => 50
    %tr.type-filter
      %th Type(s)
      %td
        - WordType.all(:order => :name).group_by(&:language).each do |language, word_types|
          %table.word-types{ "data-language" => language }
            - word_types.in_groups_of(13, false).each do |line|
              %tr
                - line.each do |type|
                  %td
                    = check_box_tag "#{@field_name}[word_types][]", type.id, false
                    %label= type.name

        = link_to_function "Inverteer", "Search.invertTypes($(this).closest('td'))", :style => "float: right;"

    %tr.flag-filter
      %th Flag(s)
      %td
        = text_field_tag "#{@field_name}[flags]", @search[:flags]
        = select_tag "#{@field_name}[flags_type]", options_for_select({ "Bevat alle flags (AND)" => :AND, "Bevat één of meer van de flags (OR)" => :OR }, @search[:flags_type])
    %tr.flag-filter
      %th Flag(s) uitsluiten
      %td
        = text_field_tag "#{@field_name}[exclude_flags]", @search[:exclude_flags]
        = select_tag "#{@field_name}[exclude_flags_type]", options_for_select({ "Bevat niet alle flags (AND)" => :AND, "Bevat geen van de flags (OR)" => :OR }, @search[:exclude_flags_type])
    %tr
      %th Inverteer
      %td
        = check_box_tag "#{@field_name}[invert_term]"
        %label Inverteer deze term
    %tr
      %th Aantal
      %td.occurrence-type
        = radio_button_tag "#{@field_name}[occurrence_type]", "once", params[:wildcard] == "false"
        %label Één (highlight)

        = radio_button_tag "#{@field_name}[occurrence_type]", "wildcard", params[:wildcard] == "true"
        %label 0 of meer (wildcard)

        = radio_button_tag "#{@field_name}[occurrence_type]", "range"
        %label Range:

        %label Minimaal
        = text_field_tag "#{@field_name}[min_occurrences]", "", :size => 3, :class => "occurrence-range"

        %label Maximaal:
        = text_field_tag "#{@field_name}[max_occurrences]", "", :size => 3, :class => "occurrence-range"
